*{/*Novo*/
    margin: 50;/*novo*/
    padding:45;/*novo*/
} /*novo*/
    
.cabecalho{
    background-color: rgb(151, 1, 1);
    color:rgb(22, 22, 22);
    display:flex;
    justify-content: space-around;
    padding: 15px 0;
    font-size: 20px;
}

.cabecalholistaitem{
     display: inline-block;
     margin: 0 12px;
     padding: 15px 0;

  }

  .sobreImagem{
           width: 55px;
}

.sobre{
        background-image: linear-gradient(#910e0e,#e413a5);
        color: rgb(47, 1, 1);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 80px 0;
}

.sobreConteudo{
        width: 53px;
}

.sobreTitulo{
         padding: 100px 50px;
}

